dialog {
    height: 688px;
    width: 630px;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

dialog[open] {
    display: flex;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.modal-header {
    width: 100%;
}

.modal-header_close {
    display: flex;
    flex-direction: row-reverse;
}

.close-button {
    height: 24px;
    width: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: 12px 16px;
}

h3 {
    font-size: 26px;
    text-align: center;
}

.modal-body {
    box-sizing: border-box;
    padding: 0 91px;
}

#modal-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 9px;
    grid-row-gap: 29px;
}

#modal-gallery img {
    width: 100%;
}

.modal-footer {
    display: flex;
    flex-direction: column;
}

.modal-footer hr {
    width: 420px;
    border-color: #B3B3B3;
}

.modal-footer button {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 31px auto;
    text-align: center;
    padding: 10px 49px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}