/* Aspect général de la modale */
dialog {
    height: 688px;
    width: 630px;
    border: none;
    border-radius: 10px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

dialog[open] {
    display: flex;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

#modal-header {
    width: 100%;
}

#modal-header_buttons {
    display: flex;
    justify-content: space-between;
}

#close-button {
    height: 24px;
    width: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: 12px 16px;
}

#modal-header h3 {
    font-size: 26px;
    text-align: center;
}

#modal-body {
    width: 100%;
    box-sizing: border-box;
    padding: 46px 91px;
}

#modal-footer {
    display: flex;
    flex-direction: column;
}

#modal-footer hr {
    width: 420px;
    border-color: #B3B3B3;
}

.modal-footer_button {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 31px auto;
    text-align: center;
    padding: 10px;
    width: 237px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

.modal-footer_button:hover {
    background-color: #0E2F28;
}

/* Modale "Galerie photo" */
#gallery_element {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 9px;
    grid-row-gap: 29px;
}

#gallery_element figure {
    position: relative;
}

.work-picture {
    width: 100%;
}

.delete-button {
    position: absolute;
    right: 5px;
    top: 6px;
    background-color: black;
    padding: 3px 4px;
    border-radius: 2px;
    cursor: pointer;
}

/* Modale "Ajout photo" */
#back-button {
    height: 24px;
    width: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    cursor: pointer;
    margin: 12px 16px;
}

#add-work_form {
    display: flex;
    flex-direction: column;
}

#add-work_element {
    height: 169px;
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

#add-work_element p {
    font-size: 10px;
}

#add-work_form input,
#add-work_form select {
    height: 50px;
    font-family: Work Sans;
    font-size: 14px;
    padding: 0 16px;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form_label {
    margin: 2em 0 1em 0;
}

#work-upload_label {
    font-size: 14px;
    font-weight: 500;
    color: #306685;
    background-color: #CBD6DC;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    width: 173px;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}

#work-upload_button {
    display: none;
}

#work-preview_element {
    height: 169px;
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work-preview_element img {
    height: 169px;
}

#validate_button.greyed {
    background-color: #A7A7A7;
}